<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huai.persistence.HomeworkMapper">
	<select id="getHomeworks" parameterType="int" resultType="Homework">
		select * from homework where courseID = #{courseID}
	</select>
	
	<insert id="giveHomework" parameterType="Homework">
		insert into homework(homeworkID,deadline,buildDate,content,teacherID,courseID) values (#{homeworkID},#{deadline},#{buildDate},#{content},#{teacherID},#{courseID})
	</insert>
</mapper>