<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huai.persistence.StudentMapper">
	<!-- 根据学号获得学生ID -->
	<select id="getStuIDByStuNO" parameterType="String" resultType="Integer">
		Select studentID From student Where studentNO=#{studentNO}
	</select>
	<select id="getStudentsByStuNO" parameterType="String" resultType="Student">
		SELECT * FROM student WHERE studentNO = #{studentNO}
	</select>
	<!-- 根根据学生名字获取学生对象 -->
	<select id="getStudentByName" parameterType="String" resultType="Student">
		Select * From student Where name=#{name}
	</select>
	<!-- 根据studentID获取学生对象 -->
	<select id="getStudentByStudentID" parameterType="Integer" resultType="Student">
		Select * From student Where studentID=#{studentID}
	</select>
	<!-- 往数据库中添加一个学生 -->
	<insert id="addStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="studentID">
		Insert Into student(name,password,sex,studentNO,clazz,major,college)
		values(#{name},#{password},#{sex},#{studentNO},#{clazz},#{major},#{college})
	</insert>
	<!-- 将学生添加到一个课程中 -->
	<insert id="addStudentToCourse">
		Insert Into studentCourseRelation(studentID,courseID) 
		values(#{0},#{1})
	</insert>
	<!-- 根据课程号得到在此门课程中的学生的studentID -->
	<select id="getStudentIDByCourseId" parameterType="int" resultType="Integer">
		Select studentID From studentCourseRelation Where courseID=#{courseId}
	</select>
	<!-- 把学生从一个课程中删除 -->
	<delete id="deleteStudentFromCourse">
		Delete From studentCourseRelation Where studentID=#{0} And courseID=#{1}
	</delete>
	<!-- 把学生从student表中删除 -->
	<delete id="deleteStudent" parameterType="Integer">
		Delete From student Where studentID=#{studentID}
	</delete>
	<select id="getStudents" parameterType="int" resultType="Student">
		SELECT * FROM student WHERE studentNO IN(SELECT studentNO FROM studentCourseRelation WHERE courseID=#{courseID})
	</select>
	<!-- 根据studentID获取学生对象 -->
	<select id="getMaxStudentID" resultType="Integer">
		Select MAX(studentID) From student
	</select>

	<update id="updateStu" parameterType="Student">
		UPDATE student SET name=#{name},password=#{password},sex=#{sex},
			clazz=#{clazz},major=#{major},college=#{college} WHERE studentNO=#{studentNO}
	</update>
</mapper>