<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huai.persistence.StudentHomeworkMapper">

	<insert id="doHomework" >
		insert into studentHomeworkRelation(studentID,homeworkID,content,time) values #{0},#{1},#{2},#{3}
	</insert>
	
	<select id="getContent" resultType="String">
		select content from studentHomeworkRelation where studentID=#{0} &amp;&amp; homeworkID=#{1}
	</select>
	
	<select id="getContentById" parameterType="int" resultType="String">
		select content from studentHomeworkRelation where studentHomeworkID=#{studentHomeworkID}
	</select>
	
	<update id="modifyHomework">
		update studentHomeworkRelation set content=#{2} where homeworkID=#{0} &amp;&amp; studentID=#{1}
	</update>
	
</mapper>