<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huai.persistence.TeacherMapper">
	<select id="getTeacherByName" parameterType="String" resultType="Teacher">
		Select * From teacher Where name=#{name}
	</select>
	<select id="update" parameterType="Teacher">
		Update teacher 
		Set name=#{name},password=#{password},sex=#{sex},school=#{school},college=#{college} 
		Where teacherID=#{teacherID}
	</select>
</mapper>