@charset "utf-8";
/* style.css - 基本样式文档
---------------------------------------------------------------- */
/* /////////////////////////////////////////
	=基本样式
///////////////////////////////////////// */

body {
	background: #F4F5F6;
}
.header {
	box-shadow: 0 2px 5px #888888;
}
.content{
    margin-top: 30px;
}
.mustInput {
	color: red;
}
.table th,
.table td {
	text-align: center;
}
/*登录页面*/

.wrapper-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/wood_bg.jpg) repeat;
}
.login-header {
	text-align: center;
	margin-top: 80px;
}
.login-header h1 {
	color: #fff;
}
.role {
	margin-top: 100px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}
.role:hover {
	background: rgba(0, 0, 0, 0.5);
}
.role span {
	font-size: 1.5em;
	color: #000;
}
.role:hover span {
	color: #fff;
}
/*课程列表*/
.login-panel{
	margin-top: 50px;
}
ul.course {
	list-style: none;
    padding: 10px;
}
ul.course li{
	margin-top: 10px;
}
.course-item{
	padding: 5px;
	margin: 5px;
    border: 1px solid #cccccc;
    box-shadow: 2px 5px 2px #ccc;
}
.course-item-desc{
    text-align: center;
    padding: 10px;
}
.course-item-cover {
    text-align: center;
    padding: 0 30%;
}
.course-item-cover img {
	width: 120px;
	height: 120px;
}
.course-item-desc-title h3{
    font-size: 1.2em;
    font-weight: bold;
}
.course-item-desc-text {
	font-size: 0.8em;
}
.enter_manage,.delete{
	margin: 5px;
	display: inline-block;
}
/*成绩录入模态框*/
.panel-heading>button{
	margin-top: -0.4em;
}
.highLight{
	border: 1px solid red;
}